<div class="work-experience">
  <h1>work experience.</h1>
  <h2 style="color: #709DFF">here's some of my real world experience.</h2>
  <br>
  <mzd-timeline [alternateSide]="true" [firstContentSide]="firstContentSide">
    <!-- mzd-timeline-border -->
    <mzd-timeline-content [card]="true" [border]="false">
      <mzd-icon><i class="fas fa-heart"></i></mzd-icon>
      <div class="card">
        <div class="content-timeline">
          <span>Jun 2021 - Present</span></div>
        <a (click)="onNavigate('https://www.jpmorganchase.com/')">
          <h3>JPMorgan Chase, <span>SWE Intern</span></h3>
        </a>
        <hr>
        <ul>
          <li>Working with network services and data centers</li>
        </ul>
        <div style="padding-left: 35px;">
          <button class="content-button">Network Engineering</button>
        </div>
      </div>
    </mzd-timeline-content>

    <mzd-timeline-content [card]="true" [border]="false">
      <mzd-icon><i class="fas fa-heart"></i></mzd-icon>
      <div class="card">
        <div class="content-timeline">
          <span>Apr 2021 - Present</span></div>
        <a (click)="onNavigate('https://www.jpmorganchase.com/')">
          <h3>Global Venture Catalyst, <span>Marketing Intern</span></h3>
        </a>
        <hr>
        <ul>
          <li>Leveraging various growth strategies and tools including social media and email marketing to grow user base globally</li>
        </ul>
        <div style="padding-left: 10px;" class="button-hover">
          <button class="content-button">Email marketing</button>
          <a href="https://www.doodly.com/" class="content-button" role="button">Doodly</a>
          <a href="https://www.canva.com/" class="content-button" role="button">Canva</a>
        </div>
      </div>
    </mzd-timeline-content>
    
    <mzd-timeline-content [card]="true" [border]="false">
      <mzd-icon><i class="fas fa-heart"></i></mzd-icon>
      <div class="card"> 
        <div class="content-timeline">
          <span>Jun 2020 - Aug 2020</span></div>
        <a (click)="onNavigate('https://www.citi.com')">
          <h3>Citi, <span>SWE Intern</span></h3>
        </a>
        <hr>
        <ul>
          <li>Created a Learning Management Software that replaces the physical classroom for students</li>
          <li>Designed and built UI/UX with Adobe XD, coordinated on a GIT repository, and deployment on AWS</li>
          <li>Collaborated and communicated in a team of 22 and executed project with agile methodology</li>
          <li>Networked and gained insight from employees of different divisions (IT, data analytics, risk and
            management)</li>
        </ul>
        <div style="padding-left: 10px;" class="button-hover">
          <a href="https://www.php.net/" class="content-button" role="button">PHP</a>
          <button class="content-button">SQL</button>
          <button class="content-button">HTML</button>
          <button class="content-button">CSS</button>
        </div>
      </div>
    </mzd-timeline-content>

    <mzd-timeline-content [card]="true" [border]="false">
      <mzd-icon><i class="fas fa-heart"></i></mzd-icon>
      <div class="card">
        <div class="content-timeline">
          <span>Nov 2017 - Present</span></div>
        <a (click)="onNavigate('https://www.ishitastudio.com')">
          <h3>Ishita's Studio, <span>Founder</span></h3>
        </a>
        <hr>
        <ul>
          <li>Extensive experience painting and drawing portraits, landscapes, and spiritual art pieces</li>
          <li>Designing and maintaining <a (click)="onNavigate('https://www.ishitastudio.com')"><strong>Ishita
                Studio</strong></a>, marketing artwork,
            and hosting multiple art exhibitions</li>
          <li>Donating 25% of revenue by growing online sales and selling over 20 paintings and products</li>
        </ul>
        <div style="padding-left: 10px;">
          <button class="content-button">Wordpress</button>
          <button class="content-button">Painting</button>
          <button class="content-button">Drawing</button>
          <button class="content-button">Marketing</button>
        </div>
      </div>
    </mzd-timeline-content>

    <mzd-timeline-content [card]="true" [border]="false">
      <mzd-icon><i class="fas fa-heart"></i></mzd-icon>
      <div class="card">
        <div class="content-timeline">
          <span>Jul 2018 - Apr 2019</span></div>
        <a (click)="onNavigate('https://www.mathnasium.com')">
          <h3>Mathnasium, <span>Instructor</span></h3>
        </a>
        <hr>
        <ul>
          <li>Instructed math to over 100 students in kindergarten to twelfth grade with personalized learning programs
          </li>
          <li>Improved students’ critical and numerical thinking, attitude, creativity skills, and grades by 10% to 25%
          </li>
        </ul>
        <div style="padding-left: 10px;">
          <button class="content-button">Tutoring</button>
        </div>
      </div>
    </mzd-timeline-content>

    <mzd-timeline-content [card]="true" [border]="false">
      <mzd-icon><i class="fas fa-heart"></i></mzd-icon>
      <div class="card">
        <div class="content-timeline">
          <span>Jun 2018</span></div>
        <a (click)="onNavigate('https://www.citi.com')">
          <h3>Citi, <span>IT Intern</span></h3>
        </a>
        <hr>
        <ul>
          <li>Presented a business plan to Citibank’s executive managers and REC Foundation Representatives</li>
          <li>Programmed a robot with my team and geared its functions towards elementary school students</li>
        </ul>
        <div style="padding-left: 10px;">
          <button class="content-button">RobotC</button>
          <button class="content-button">Financial planning</button>
          <button class="content-button">Agile Methodology</button>
        </div>
      </div>
    </mzd-timeline-content>

  </mzd-timeline>
</div>
