<div class="about-text">
    <h1>about.</h1>
    <h2 style="color: #709DFF">i'm passionate about learning and driven by impact.</h2>
    <br>

    <div class="flex-container" style="padding: 10px">
        <div>
            <img src="/assets/img/me.jpg" class="image-responsive">
        </div>
        <div style="font-size: medium">
            <p>Hi, fancy seeing you here! Here's a little bit about me!</p>
            <p>I'm Ishita Rastogi and am currently studying <b>Data Science</b> and <b>Economics</b> with a <b>Certification in Entrepreneurship and Technology</b> at UC Berkeley.
                You can find me baking some treats or hiking up a new trail. I also love to paint and draw in my free time!
                Check out some of my art at <a href="https://www.ishitastudio.com" style="color:black"><b>ishitastudio.com</b></a>.
            </p>
            <p>I'm currently a <b>Software Engineering Intern</b> at J.P. Morgan Chase, working on a network engineering project.
                Last summer, I was a <b>Software Engineering Intern</b> at Citibank, where I created a learning management software for students.
                I'm extremely interested in the intersection of finance and technology, and strive to encourage more girls to join the tech industry.
            </p>
            <p><i>Feel free to reach out at ishita.r@berkeley.edu.</i></p>
            <div style="padding-top: 15px">
                <a href= "https://www.linkedin.com/in/ishita-r/" class="fab fa-linkedin-in" target="_blank"></a>
                <a href= "https://github.com/ishita-rastogi" class="fab fa-github" target="_blank"></a>
            </div>
        </div>
    </div>
</div>




        