.about-text{
    padding-top: 25px;
}

.flex-container {
    display: flex;
    align-items: stretch;
  }
  
  .flex-container > div {
    padding: 20px;
    margin: 10px;
    text-align: left;
    line-height: 25px;
    font-size: 20px;
  }

  .fa-github,.fa-linkedin-in {
    font-size: 2em;
    padding: 10px;
    color: #477EFF;

  }

  .fa-github:hover,.fa-linkedin-in:hover {
    text-decoration: none;
    color: #e7c6ff;
  }

  .image-responsive {
    max-width: 90%; 
    display: block; 
    height: auto;
}