<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="home" style="background-color: #ADC7FF; border-radius: 5px;">IR</a>
  <button class="navbar-toggler" type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav ml-auto" style="font-weight: 300; font-size: 15px">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="activebutton" data-toggle="collapse" data-target=".navbar-collapse.in">home.<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="activebutton" data-toggle="collapse" data-target=".navbar-collapse.in">about.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/education']" routerLinkActive="activebutton" data-toggle="collapse" data-target=".navbar-collapse.in">education.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/experience']" routerLinkActive="activebutton" data-toggle="collapse" data-target=".navbar-collapse.in">experience.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="activebutton" data-toggle="collapse" data-target=".navbar-collapse.in">projects.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pull-right" id="name-heading" [routerLink]="['/']" routerLinkActive="activebutton"><i class="fas fa-heart"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="padding-top: 100px;">
  <router-outlet></router-outlet>
</div>

