
  <as-split direction="horizontal">
    <as-split-area [size]="50">
      <img class="image-responsive" src="/assets/img/me.jpg" alt="Ishita Rastogi">
    </as-split-area>
    <as-split-area [size]="50">
      <div class="text-center">
        <h1 style="font-size: 35px; padding-bottom: 15px">
          <b>Hello! <span style="color:#709DFF">I'm Ishita!</span></b>
        </h1>
        <p style="font-size: 18px;">A Data Science and Economics UC Berkeley Student.</p>
        <br>
        <a href= "/assets/Resume-Jun13.pdf" class="btn btn-outline-light" target="_blank" style="color:white; background-color: #709DFF;">Resume <i class="fas fa-arrow-circle-down"></i></a>
      </div>
    </as-split-area>
  </as-split>
