<div class="projects-text">
  <h1>projects.</h1>
  <h2 style="color: #709DFF">some fun projects.</h2>
  <br>
  <div class="flex-container">
    <div class="card" style ="width: 18rem" data-target="#myProj3">
      <img src="/assets/img/email-classification.jpg">
      <div class="card-body">
        <h1 class="card-title">Email Classification</h1>
        <p class="card-text">Data science project.</p>
        <div class="button-align">
          <a href="#myProj3" data-toggle="modal" class="btn">Details</a>
          <a href="https://github.com/ishita-rastogi/email-classification" class="btn" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class="card" style ="width: 18rem" data-target="#myProj2">
      <img src="/assets/img/food-safety.jpg">
      <div class="card-body">
        <h1 class="card-title">Food Safety</h1>
        <p class="card-text">Data science project.</p>
        <div class="button-align">
          <a href="#myProj2" data-toggle="modal" class="btn">Details</a>
          <a href="https://github.com/ishita-rastogi/food-safety" class="btn" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
    <div class="card" style ="width: 18rem" data-target="#myProj1">
      <img src="/assets/img/edusaur.png">
      <div class="card-body">
        <h1 class="card-title">Edusaur</h1>
        <p class="card-text">Web application.</p>
        <div class="button-align">
          <a href="#myProj1" data-toggle="modal" class="btn">Details</a>
          <a href="https://github.com/ishita-rastogi/edusaur" class="btn" target="_blank">GitHub</a>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- modal for Edusaur-->
<div class="modal" id="myProj1">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edusaur</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <p>Edusaur is a learning management software that replaces the physical classroom for elementary students.
          This platform provides students with a seamless program in which can utilize features like educational games, chatting, and embedded Zoom calls.</p>
        <p>Technologies Used:</p>
        <ul>
          <li>PHP</li>
          <li>SQL</li>
          <li>AWS Elastic Beanstalk</li>
          <li>Adobe XD</li>
        </ul>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <a role="button" class="btn" href="https://github.com/ishita-rastogi/edusaur" target="_blank">GitHub Link</a>
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal for Food Safety-->
<div class="modal" id="myProj2">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Food Safety</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <p>Food Safety investigates the restaurant food safety scores for restaurants in San Francisco. 
          Through the use of multiple Data Cleaning methods and Exploratory Data Analysis (EDA), 
          I have cleaned and analyzed multiple data sources, utilizing a metric system that looks at 
          the distribution of restaurant scores over time.</p>
        <p>Technologies Used:</p>
        <ul>
          <li>Python</li>
          <li>NumPy</li>
          <li>Pandas</li>
          <li>Matplotlib</li>
          <li>Seaborn</li>
        </ul>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <a role="button" class="btn" href="https://github.com/ishita-rastogi/food-safety" target="_blank">GitHub Link</a>
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal for Email Classification-->
<div class="modal" id="myProj3">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Email Classification</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <p>Coming soon...</p>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>